name: CLI_CI

# Determines when this workflow is run
on: [push, pull_request]

jobs:
  python_ci:
    strategy:
      matrix:
        python-version: [3.8]
    env:
      QT_QPA_PLATFORM: "offscreen"

    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y python3-pip
          sudo python -m pip install pycodestyle
      - name: Static Analysis
        run: |
          pycodestyle --show-source easy_perception_deployment/scripts/test_config_epd.py easy_perception_deployment/scripts/cli/config_epd.py --count
      - name: Dynamic Analysis
        run: |
          pip install pytest pytest-cov pytest-mock
          cd easy_perception_deployment/scripts
          pytest --capture=no -vv test_config_epd.py
