name: GUI_CI

# Determines when this workflow is run
on: [push, pull_request]

jobs:
  python_ci:
    strategy:
      matrix:
        python-version: [3.8]
    env:
      QT_QPA_PLATFORM: "offscreen"

    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y python3-pip
          sudo python -m pip install pycodestyle
      - name: Static Analysis
        run: |
          pycodestyle --show-source easy_perception_deployment/gui/main.py \
          easy_perception_deployment/gui/test_gui.py \
          easy_perception_deployment/gui/windows/*.py \
          easy_perception_deployment/gui/trainer/*.py --count
      - name: Dynamic Analysis
        run: |
          pip install PySide2==5.15.0
          pip install dateutils==0.6.12
          pip install pycocotools==2.0.2
          pip install labelme==5.0.1
          pip install torch==1.8.1
          pip install torchvision==0.9.1
          cd easy_perception_deployment/gui
          pytest --capture=no -vv test_gui.py
